In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt

1. Use the API to get all available data for the _GDP per capita, PPP (constant 2017 international $)_ indicator. Hint: this indicator has code "NY.GDP.PCAP.PP.KD". Adjust the query parameters so that you can retrieve all available rows. Convert the results to a DataFrame.

In [2]:
endpoint = 'https://api.worldbank.org/v2/country/all/indicator/NY.GDP.PCAP.PP.KD'
params = {'format':'json','per_page':17290}
response = requests.get(endpoint,params=params)

In [3]:
response

In [4]:
res = response.json()

In [5]:
gdp_data =pd.json_normalize(res[1])
gdp_data

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2024,3968.963751,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
1,AFE,2023,3948.142721,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
2,AFE,2022,3974.244214,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
3,AFE,2021,3933.580905,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
4,AFE,2020,3861.068816,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
...,...,...,...,...,...,...,...,...,...,...
17285,ZWE,1964,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17286,ZWE,1963,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17287,ZWE,1962,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17288,ZWE,1961,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17289,ZWE,1960,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe

In [6]:
type(res)

list

In [7]:
res[0].keys()

dict_keys(['page', 'pages', 'per_page', 'total', 'sourceid', 'lastupdated'])

In [8]:
pages = res[0]['pages']
pages

1

In [9]:
gdp_df=pd.DataFrame(gdp_data)
gdp_df

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2024,3968.963751,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
1,AFE,2023,3948.142721,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
2,AFE,2022,3974.244214,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
3,AFE,2021,3933.580905,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
4,AFE,2020,3861.068816,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
...,...,...,...,...,...,...,...,...,...,...
17285,ZWE,1964,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17286,ZWE,1963,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17287,ZWE,1962,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17288,ZWE,1961,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17289,ZWE,1960,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe

In [10]:
gdp_df.columns

Index(['countryiso3code', 'date', 'value', 'unit', 'obs_status', 'decimal',
       'indicator.id', 'indicator.value', 'country.id', 'country.value'],
      dtype='object')

In [11]:
gdp_df=gdp_df.drop(columns=['unit','obs_status','decimal','indicator.id','indicator.value','countryiso3code'])

In [12]:
gdp_df = gdp_df.rename(columns ={'country.id':'country_id','date':'year','value':'gdp_per_capita','country.value':'country_name'})

In [13]:
gdp_df

       year  gdp_per_capita country_id                 country_name
0      2024     3968.963751         ZH  Africa Eastern and Southern
1      2023     3948.142721         ZH  Africa Eastern and Southern
2      2022     3974.244214         ZH  Africa Eastern and Southern
3      2021     3933.580905         ZH  Africa Eastern and Southern
4      2020     3861.068816         ZH  Africa Eastern and Southern
...     ...             ...        ...                          ...
17285  1964             NaN         ZW                     Zimbabwe
17286  1963             NaN         ZW                     Zimbabwe
17287  1962             NaN         ZW                     Zimbabwe
17288  1961             NaN         ZW                     Zimbabwe
17289  1960             NaN         ZW                     Zimbabwe

[17290 rows x 4 columns]

2. Now, use the API to get all available data for _Life expectancy at birth, total (years)_. This indicator has code "SP.DYN.LE00.IN". Again, convert the results to a DataFrame.

In [14]:
endpoint = 'https://api.worldbank.org/v2/country/all/indicator/SP.DYN.LE00.IN'
params = {'format':'json','per_page':17290}
response = requests.get(endpoint,params=params)

In [15]:
res = response.json()

In [16]:
lifexp_data =pd.json_normalize(res[1])
lifexp_data

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2024,NaN,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
1,AFE,2023,65.146291,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
2,AFE,2022,64.487020,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
3,AFE,2021,62.979999,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
4,AFE,2020,63.766484,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
...,...,...,...,...,...,...,...,...,...,...
17285,ZWE,1964,55.431000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17286,ZWE,1963,54.942000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17287,ZWE,1962,54.453000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17288,ZWE,1961,53.966000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17289,ZWE,1960,53.492000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe

In [17]:
type(res)

list

In [18]:
res[0].keys()

dict_keys(['page', 'pages', 'per_page', 'total', 'sourceid', 'lastupdated'])

In [19]:
lifexp_df=pd.DataFrame(lifexp_data)
lifexp_df

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2024,NaN,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
1,AFE,2023,65.146291,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
2,AFE,2022,64.487020,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
3,AFE,2021,62.979999,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
4,AFE,2020,63.766484,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
...,...,...,...,...,...,...,...,...,...,...
17285,ZWE,1964,55.431000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17286,ZWE,1963,54.942000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17287,ZWE,1962,54.453000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17288,ZWE,1961,53.966000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17289,ZWE,1960,53.492000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe

In [20]:
lifexp_df=lifexp_df.drop(columns={'unit','obs_status','decimal','indicator.id','indicator.value','countryiso3code'})

In [21]:
lifexp_df=lifexp_df.rename(columns={'country.id':'country_id','date':'year','value':'life_exp','country.value':'country_name'})

In [22]:
lifexp_df

       year   life_exp country_id                 country_name
0      2024        NaN         ZH  Africa Eastern and Southern
1      2023  65.146291         ZH  Africa Eastern and Southern
2      2022  64.487020         ZH  Africa Eastern and Southern
3      2021  62.979999         ZH  Africa Eastern and Southern
4      2020  63.766484         ZH  Africa Eastern and Southern
...     ...        ...        ...                          ...
17285  1964  55.431000         ZW                     Zimbabwe
17286  1963  54.942000         ZW                     Zimbabwe
17287  1962  54.453000         ZW                     Zimbabwe
17288  1961  53.966000         ZW                     Zimbabwe
17289  1960  53.492000         ZW                     Zimbabwe

[17290 rows x 4 columns]


3. Merge the two results DataFrames together. You may want to rename or drop columns prior to merging.

In [23]:
gdp_life_exp = pd.merge(gdp_df,lifexp_df,on = ['country_id','year','country_name'])

In [24]:
gdp_life_exp

       year  gdp_per_capita country_id                 country_name   life_exp
0      2024     3968.963751         ZH  Africa Eastern and Southern        NaN
1      2023     3948.142721         ZH  Africa Eastern and Southern  65.146291
2      2022     3974.244214         ZH  Africa Eastern and Southern  64.487020
3      2021     3933.580905         ZH  Africa Eastern and Southern  62.979999
4      2020     3861.068816         ZH  Africa Eastern and Southern  63.766484
...     ...             ...        ...                          ...        ...
17285  1964             NaN         ZW                     Zimbabwe  55.431000
17286  1963             NaN         ZW                     Zimbabwe  54.942000
17287  1962             NaN         ZW                     Zimbabwe  54.453000
17288  1961             NaN         ZW                     Zimbabwe  53.966000
17289  1960             NaN         ZW                     Zimbabwe  53.492000

[17290 rows x 5 columns]

#4. You can also get more information about the available countries (region, capital city, income level classification, etc.) by using the [Country API](https://datahelpdesk.worldbank.org/knowledgebase/articles/898590-country-api-queries). Use this API to pull in all available data. Merge this with your other datasets. Use this to now remove the rows that correspond to regions and not countries.

In [25]:
endpoint = 'https://api.worldbank.org/v2/country'
params = {'format':'json','per_page':296}
response = requests.get(endpoint,params=params)

In [26]:
res = response.json()

In [27]:
res[0].keys()

dict_keys(['page', 'pages', 'per_page', 'total'])

In [28]:
country_data =pd.json_normalize(res[1])
country_data

,id,iso2Code,name,capitalCity,longitude,latitude,region.id,region.iso2code,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
0,ABW,AW,Aruba,Oranjestad,-70.0167,12.5167,LCN,ZJ,Latin America & Caribbean,,,,HIC,XD,High income,LNX,XX,Not classified
1,AFE,ZH,Africa Eastern and Southern,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
2,AFG,AF,Afghanistan,Kabul,69.1761,34.5228,MEA,ZQ,"Middle East, North Africa, Afghanistan & Pakistan",MNA,XQ,"Middle East, North Africa, Afghanistan & Pakis...",LIC,XM,Low income,IDX,XI,IDA
3,AFR,A9,Africa,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
4,AFW,ZI,Africa Western and Central,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,XZN,A5,Sub-Saharan Africa excluding South Africa and ...,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
292,YEM,YE,"Yemen, Rep.",Sana'a,44.2075,15.352,MEA,ZQ,"Middle East, North Africa, Afghanistan & Pakistan",MNA,XQ,"Middle East, North Africa, Afghanistan & Pakis...",LIC,XM,Low income,IDX,XI,IDA
293,ZAF,ZA,South Africa,Pretoria,28.1871,-25.746,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),UMC,XT,Upper middle income,IBD,XF,IBRD
294,ZMB,ZM,Zambia,Lusaka,28.2937,-15.3982,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDX,XI,IDA
295,ZWE,ZW,Zimbabwe,Harare,31.0672,-17.8312,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend

In [29]:
country_df=pd.DataFrame(country_data)
country_df

,id,iso2Code,name,capitalCity,longitude,latitude,region.id,region.iso2code,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
0,ABW,AW,Aruba,Oranjestad,-70.0167,12.5167,LCN,ZJ,Latin America & Caribbean,,,,HIC,XD,High income,LNX,XX,Not classified
1,AFE,ZH,Africa Eastern and Southern,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
2,AFG,AF,Afghanistan,Kabul,69.1761,34.5228,MEA,ZQ,"Middle East, North Africa, Afghanistan & Pakistan",MNA,XQ,"Middle East, North Africa, Afghanistan & Pakis...",LIC,XM,Low income,IDX,XI,IDA
3,AFR,A9,Africa,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
4,AFW,ZI,Africa Western and Central,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,XZN,A5,Sub-Saharan Africa excluding South Africa and ...,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
292,YEM,YE,"Yemen, Rep.",Sana'a,44.2075,15.352,MEA,ZQ,"Middle East, North Africa, Afghanistan & Pakistan",MNA,XQ,"Middle East, North Africa, Afghanistan & Pakis...",LIC,XM,Low income,IDX,XI,IDA
293,ZAF,ZA,South Africa,Pretoria,28.1871,-25.746,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),UMC,XT,Upper middle income,IBD,XF,IBRD
294,ZMB,ZM,Zambia,Lusaka,28.2937,-15.3982,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDX,XI,IDA
295,ZWE,ZW,Zimbabwe,Harare,31.0672,-17.8312,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend

In [30]:
country_df.columns

Index(['id', 'iso2Code', 'name', 'capitalCity', 'longitude', 'latitude',
       'region.id', 'region.iso2code', 'region.value', 'adminregion.id',
       'adminregion.iso2code', 'adminregion.value', 'incomeLevel.id',
       'incomeLevel.iso2code', 'incomeLevel.value', 'lendingType.id',
       'lendingType.iso2code', 'lendingType.value'],
      dtype='object')

In [31]:
country_df=country_df.rename(columns={'name':'country_name','iso2Code':'country_id','incomeLevel.value':'incomeLevel_value'})

In [32]:
country_df=country_df.drop(columns={'adminregion.id','id','adminregion.iso2code','adminregion.value','incomeLevel.iso2code','lendingType.id','lendingType.iso2code','region.id','region.iso2code','region.value','incomeLevel.id','lendingType.value'})

In [33]:
country_df

,country_id,country_name,capitalCity,longitude,latitude,incomeLevel_value
0,AW,Aruba,Oranjestad,-70.0167,12.5167,High income
1,ZH,Africa Eastern and Southern,,,,Aggregates
2,AF,Afghanistan,Kabul,69.1761,34.5228,Low income
3,A9,Africa,,,,Aggregates
4,ZI,Africa Western and Central,,,,Aggregates
...,...,...,...,...,...,...
291,A5,Sub-Saharan Africa excluding South Africa and ...,,,,Aggregates
292,YE,"Yemen, Rep.",Sana'a,44.2075,15.352,Low income
293,ZA,South Africa,Pretoria,28.1871,-25.746,Upper middle income
294,ZM,Zambia,Lusaka,28.2937,-15.3982,Lower middle income
295,ZW,Zimbabwe,Harare,31.0672,-17.8312,Lower middle income

In [34]:
country_gdp_lifexp = pd.merge(gdp_life_exp,country_df,on=['country_id','country_name'])

In [35]:
country_gdp_lifexp

,year,gdp_per_capita,country_id,country_name,life_exp,capitalCity,longitude,latitude,incomeLevel_value
0,2024,3968.963751,ZH,Africa Eastern and Southern,NaN,,,,Aggregates
1,2023,3948.142721,ZH,Africa Eastern and Southern,65.146291,,,,Aggregates
2,2022,3974.244214,ZH,Africa Eastern and Southern,64.487020,,,,Aggregates
3,2021,3933.580905,ZH,Africa Eastern and Southern,62.979999,,,,Aggregates
4,2020,3861.068816,ZH,Africa Eastern and Southern,63.766484,,,,Aggregates
...,...,...,...,...,...,...,...,...,...
17155,1964,NaN,ZW,Zimbabwe,55.431000,Harare,31.0672,-17.8312,Lower middle income
17156,1963,NaN,ZW,Zimbabwe,54.942000,Harare,31.0672,-17.8312,Lower middle income
17157,1962,NaN,ZW,Zimbabwe,54.453000,Harare,31.0672,-17.8312,Lower middle income
17158,1961,NaN,ZW,Zimbabwe,53.966000,Harare,31.0672,-17.8312,Lower middle income
17159,1960,NaN,ZW,Zimbabwe,53.492000,Harare,31.0672,-17.8312,Lower middle income

In [36]:
country_df.to_excel('country_df.xlsx', sheet_name='MyData', index=False)

In [37]:
country_gdpl_df= country_gdp_lifexp[country_gdp_lifexp["incomeLevel_value"] != "Aggregates"]

In [38]:
#country_gdpl_df = country_gdpl_df[country_gdpl_df["capitalCity"].notna()]

In [39]:
country_gdpl_df

,year,gdp_per_capita,country_id,country_name,life_exp,capitalCity,longitude,latitude,incomeLevel_value
3055,2024,NaN,AF,Afghanistan,NaN,Kabul,69.1761,34.5228,Low income
3056,2023,1983.812620,AF,Afghanistan,66.035,Kabul,69.1761,34.5228,Low income
3057,2022,1981.710168,AF,Afghanistan,65.617,Kabul,69.1761,34.5228,Low income
3058,2021,2144.166570,AF,Afghanistan,60.417,Kabul,69.1761,34.5228,Low income
3059,2020,2769.685745,AF,Afghanistan,61.454,Kabul,69.1761,34.5228,Low income
...,...,...,...,...,...,...,...,...,...
17155,1964,NaN,ZW,Zimbabwe,55.431,Harare,31.0672,-17.8312,Lower middle income
17156,1963,NaN,ZW,Zimbabwe,54.942,Harare,31.0672,-17.8312,Lower middle income
17157,1962,NaN,ZW,Zimbabwe,54.453,Harare,31.0672,-17.8312,Lower middle income
17158,1961,NaN,ZW,Zimbabwe,53.966,Harare,31.0672,-17.8312,Lower middle income
17159,1960,NaN,ZW,Zimbabwe,53.492,Harare,31.0672,-17.8312,Lower middle income

In [40]:
#1. Adjust your request so that it returns data just for the United States.

In [41]:
endpoint = 'https://api.worldbank.org/v2/country/us'
params = {'format':'json','per_page':200}
response = requests.get(endpoint,params=params)

In [42]:
res = response.json()

In [43]:
res[0].keys()

dict_keys(['page', 'pages', 'per_page', 'total'])

In [44]:
usa_data =pd.json_normalize(res[1])
usa_data

,id,iso2Code,name,capitalCity,longitude,latitude,region.id,region.iso2code,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
0,USA,US,United States,Washington D.C.,-77.032,38.8895,NAC,XU,North America,,,,HIC,XD,High income,LNX,XX,Not classified

In [45]:
#bonus:2. Adjust your request so that it returns data just for the United States for the year 2021.

In [46]:
endpoint = 'https://api.worldbank.org/v2/country/us/indicator/NY.GDP.PCAP.PP.KD?date=2021'
params = {'format':'json','per_page':1}
response = requests.get(endpoint,params=params)

In [47]:
res = response.json()

In [48]:
res[0].keys()

dict_keys(['page', 'pages', 'per_page', 'total', 'sourceid', 'lastupdated'])

In [49]:
usa_2021 =pd.json_normalize(res[1])
usa_2021

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,USA,2021,71307.401728,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States

3. Adjust your request so that it returns data just for the United States for the years 2000 through 2021.

In [54]:
endpoint = 'https://api.worldbank.org/v2/country/us/indicator/NY.GDP.PCAP.PP.KD?date=2000:2021'
params = {'format':'json','per_page':22}
response = requests.get(endpoint,params=params)

In [55]:
res = response.json()

In [56]:
res[0].keys()

dict_keys(['page', 'pages', 'per_page', 'total', 'sourceid', 'lastupdated'])

In [57]:
usa_20_21 = pd.json_normalize(res[1])
usa_20_21

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,USA,2021,71307.401728,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
1,USA,2020,67342.070928,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
2,USA,2019,69112.602687,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
3,USA,2018,67719.765640,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
4,USA,2017,66155.555569,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
5,USA,2016,65017.654963,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
6,USA,2015,64359.472590,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
7,USA,2014,63018.803393,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
8,USA,2013,61958.723441,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
9,USA,2012,61134.530608,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
10,USA,2011,60245.484399,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
11,USA,2010,59789.412908,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
12,USA,2009,58714.973690,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
13,USA,2008,60798.433840,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
14,USA,2007,61306.596939,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
15,USA,2006,60676.565569,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
16,USA,2005,59604.753636,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
17,USA,2004,58131.633684,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
18,USA,2003,56498.207831,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
19,USA,2002,55436.116980,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
20,USA,2001,55017.304977,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
21,USA,2000,55038.622497,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States

4. Adjust your request so that it returns data for the United States and Canada for the years 2000 through 2021.

In [59]:
endpoint = 'https://api.worldbank.org/v2/country/us;can/indicator/NY.GDP.PCAP.PP.KD?date=2000:2021'
params = {'format':'json','per_page':10000}
response = requests.get(endpoint,params=params)

In [60]:
res = response.json()

In [61]:
res[0].keys()

dict_keys(['page', 'pages', 'per_page', 'total', 'sourceid', 'lastupdated'])

In [62]:
usa_can_20_21 = pd.json_normalize(res[1])
usa_can_20_21

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,CAN,2021,56995.117678,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
1,CAN,2020,54092.879032,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
2,CAN,2019,57583.845798,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
3,CAN,2018,57337.490910,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
4,CAN,2017,56612.328537,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
5,CAN,2016,55606.154919,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
6,CAN,2015,55660.867527,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
7,CAN,2014,55723.483540,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
8,CAN,2013,54712.178424,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
9,CAN,2012,54034.803475,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
10,CAN,2011,53681.129670,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
11,CAN,2010,52558.440814,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
12,CAN,2009,51552.422384,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
13,CAN,2008,53711.679206,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
14,CAN,2007,53761.862030,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
15,CAN,2006,53195.781842,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
16,CAN,2005,52356.557804,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
17,CAN,2004,51210.679612,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
18,CAN,2003,50139.786235,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
19,CAN,2002,49695.006691,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
20,CAN,2001,48774.167553,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
21,CAN,2000,48399.305539,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
22,USA,2021,71307.401728,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
23,USA,2020,67342.070928,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
24,USA,2019,69112.602687,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
25,USA,2018,67719.765640,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
26,USA,2017,66155.555569,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
27,USA,2016,65017.654963,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
28,USA,2015,64359.472590,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
29,USA,2014,63018.803393,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
30,USA,2013,61958.723441,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
31,USA,2012,61134.530608,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
32,USA,2011,60245.484399,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
33,USA,2010,59789.412908,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
34,USA,2009,58714.973690,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
35,USA,2008,60798.433840,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
36,USA,2007,61306.596939,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
37,USA,2006,60676.565569,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
38,USA,2005,59604.753636,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
39,USA,2004,58131.633684,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
40,USA,2003,56498.207831,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
41,USA,2002,55436.116980,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
42,USA,2001,55017.304977,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
43,USA,2000,55038.622497,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States